/*register*/
.register{
  margin-top:100px;
  background-color:rgba(220,220,220,0.2)
}
/*products*/
.product{
  display:flex;
  justify-content: center;
  flex-wrap:wrap; 
}
.nav-bar{
margin-top:15px;
display: flex;
justify-content: space-around;
position: relative;
cursor: pointer;
}


.menu{
  display: flex;
  justify-content: space-around;
}

.sub-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding:0px;
 padding-top:10px;
}

.sub-menu p:hover{
  color:rgba(0,0,0,0.4)
}
.list:hover .sub-menu{
  display: block;
}
li{
  list-style:none;
 
}
.link{
  text-decoration: none;
}